.outerlayer {
	width: 100%;
	height: 1600px;
}

.navigation {
	width: 3%;
	height: 1593px;
	float: left;
	border-style: solid;
}

.header {
	margin: auto;
	width: 96.35%;
	height: 160px;
	float: right;
}

.uppermid {
	margin: auto;
	width: 96.35%;
	height: 480px;
	float: right;
}

.lowermid {
	margin: auto;
	width: 96.35%;
	height: 800px;
	float: right;
}

.bottom {
	margin: auto;
	width: 96.35%;
	height: 118px;
	float: right;
}

.nav {
	font-size:24px;
	display: block;
	padding: 10px;
}