.navigation {
	width: 4.5%;
	height: 100%;
	border-style: solid;
}

.outerlayer {
	width: 100%;
	height: 100%;
	float: right;
	border-style: solid;
}

.header {
	margin: auto;
	width: 93%;
	height: 5%;
	float: right;
}

.uppermid {
	margin: auto;
	width: 96%;
	height: 40%;
}

.lowermid {
	margin: auto;
	width: 96%;
	height: 50%;
}

.bottom {
	margin: auto;
	width: 96%;
	height: 5%;
}

.nav {
	font-size:24px;
	display: block;
	padding: 10px;
}