{% extends "layout.html" %}
{% block uppermid %}
	<script  src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='HomeScripts.js') }}"></script>
	<div>
		<div id="chart"></div>
		<p>Hej Klik denne knap: </p>
		<button type="button" onclick="heatmap()">Try it</button>
 	</div>
{% endblock uppermid %}
{% block lowermid %}
	<div class="content">
		<form method= "POST" action="{{ url_for('home') }}">
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>Request Data</legend>
				{{ form.data.label() }}
				{{ form.data() }}
				{{ form.submit }}
			</fieldset>
		</form>
	</div>
{% endblock lowermid%}