{% extends "layout.html" %}
{% block uppermid %}
	<script  src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='HomeScripts.js') }}"></script>
	<div>
		<div id="chart"></div>
		<p>Hej Klik denne knap: </p>
		<button type="button" onclick="heatmap( {{ data }} )">Try it</button>
 	</div>
 	<div>
 		<form method="POST" action="{{ url_for('home') }}">
 		<select name="dropdown" id="streamtype">
 			<option value="null">Null</option>
  			<option value="humidity">Humidity</option>
  			<option value="co2">CO2</option>
  			<option value="temperature">Temperature</option>
		</select>
    	<input type="submit">
		</form>
		<p>Data: {{ data }}</p>
 	</div>
{% endblock uppermid %}
{% block lowermid %}
{% endblock lowermid%}